<%- include("partials/header.ejs") %>

<% if(locals.adjective && locals.noun) { %>
    <%= adjective %>
    <%= noun %>
    <% } else { %>
        <h1>Willkommen zum Weihnachts_Spiel_Generator</h1>
        <% } %>

<form action="/submit" method="Post">
    <input type="submit" value="Generate Name"/>
</form>

<%- include("partials/footer.ejs") %>